.vehicle-details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    margin: 20px 0;
}

.vehicle-info {
    flex: 1; 
    max-width: 60%;
    min-width: 300px; 
}

.pick-up-return-section {
    margin-top: 20px;
    flex-basis: 350px; 
    padding: 0px 18px;
    background-color: whitesmoke;
    align-self: flex-start;
    box-sizing: border-box;
}

.vehicle-image {
    margin-top:0px !important; 
    width: 100%;
    max-width: 100%;
    max-height: 650px;
    height: auto;
    margin-bottom: 20px;
    background-color: white;
}

label, input {
    margin-bottom: 20px;
    margin-left: 10px;
}

.specification-list p {
    margin-left: 5px;
    margin-right: 25px;
}

.specification-list .icon {
    font-size: 34px;
    padding: 10px ;
    background: #eeeff1;
    border-radius: 0.5rem;
    color: blue;
}

.rent-rate {
    position: relative;
    font-weight: bold;
    background-color: #3F3DA1;
    margin-top: -35px;
    margin-left: -18px;
    margin-right: -18px;
}

.rent-rate p {
    padding: 15px;
    text-decoration: solid;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.calculate-btn {
    text-align: center;
}

.checkout-btn {
    text-align: center;
}

