body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EAE8E8;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin: 50px 0;
  }

  .home-section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: ;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }


  