.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
}

.about-img {
    width: 100%;
}

.about-text span {
    font-weight: bold;
    text-transform: uppercase;
}

.about-text p {
    margin: 0.5rem 0 1.4rem;
}