.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 25px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container form div {
    margin-bottom: 15px;
  }
  
  .login-container form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-container form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 90%;
  }
  
  .login-container form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .login-container p {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-container p a {
    color: #2B3BD1;
    text-decoration: none;
  }
  
  .login-container button:hover {
    opacity: 0.8;
  }

  .login-container button {
    background-color: #955959;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
  }